.form-group {
  width: 80%;
  margin: 0.8rem auto;

  .form-control {
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    border-bottom: 2px solid #ccc;
  }

  .form-control:focus {
    border-color: #242155;
  }

  .is-invalid {
    border-color: #ff0000;
  }
}

@media (min-width: 768px) {
  .form-group {
    width: 70%;
    margin: 0.5rem auto;

    .form-control {
      font-size: 1.2rem;
      padding: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .form-group {
    width: 60%;
    margin: 0.5rem auto;

    .form-control {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
